# Install SkyLines itself

-e .

# Install development requirements

# Packages available in debian jessie
fabric==1.10.0 # fabric
pytest==2.6.3 # python-pytest
zope.testbrowser==4.0.2 # python-zope.testbrowser
WebTest==2.0.16 # python-webtest
mock==1.0.1 # python-mock
flake8==2.2.2 # python-flake8
pyflakes==0.8.1 # pyflakes
pep8==1.5.7 # pep8

# Other packages
wsgiref==0.1.2
http://closure-linter.googlecode.com/files/closure_linter-latest.tar.gz
